<div
    id="contact"
    class="container"
>
    <h4 class="section muted muted--header">{{'headers.contact' |translate |tag}}</h4>
    <h4
        class="subtitle"
        translate
    >
        contact.find
    </h4>
    <a
        href="https://github.com/dao0dao"
        target="_blank"
        class="link"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-github'"></use>
        </svg>
        dao0dao
    </a>
    <a
        href="mailto:d_greshnikov@tlen.pl"
        target="_blank"
        class="link"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-at'"></use>
        </svg>
        d_greshnikov@tlen.pl
    </a>
</div>
