@import "src/assets/colors.scss";
:host {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container {
    position: relative;
    flex-basis: 98%;
    min-height: 80%;
    padding: 0 1rem 1rem;
    border-left: 3px solid $lighted;
    background-color: $background1;
}
.section {
    margin-bottom: 2rem;
}
.subtitle{
    margin-bottom: 2rem;
}
.link {
    margin-right: 1rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: $lighted;
    }
}
@media screen and (min-width: 992px) {
    .container {
        flex-basis: 80%;
        padding-left: 3rem;
    }
}
