@import "src/assets/colors.scss";
:host {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background3;
}
.container {
    position: relative;
    z-index: 2;
    width: 85%;
    max-width: 500px;
    max-height: 700px;
    height: 95%;
    .btn {
        position: absolute;
        z-index: 3;
        border: none;
        background-color: transparent;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
            fill: $lighted;
        }
        &--close {
            top: -30px;
            right: -15px;
        }
        &--left {
            top: 50%;
            left: 0%;
            transform: translate(-100%, -50%);
        }
        &--right {
            top: 50%;
            right: 0%;
            transform: translate(100%, -50%);
        }
    }
    .img {
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        .background {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &--top {
                transform: translateY(100%);
                background: linear-gradient(
                    180deg,
                    hsla(210, 38%, 8%, 0) 0%,
                    hsla(210, 38%, 8%, 0.1) 10%,
                    hsla(210, 38%, 8%, 0.2) 20%,
                    hsla(210, 38%, 8%, 0.3) 30%,
                    hsla(210, 38%, 8%, 0.4) 40%,
                    hsla(210, 38%, 8%, 0.5) 50%,
                    hsla(210, 38%, 8%, 0.6) 60%,
                    hsla(210, 38%, 8%, 0.7) 70%
                );
            }
            &--left {
                transform: translateX(-100%);
                background: linear-gradient(
                    270deg,
                    hsla(210, 38%, 8%, 0) 0%,
                    hsla(210, 38%, 8%, 0.1) 10%,
                    hsla(210, 38%, 8%, 0.2) 20%,
                    hsla(210, 38%, 8%, 0.3) 30%,
                    hsla(210, 38%, 8%, 0.4) 40%,
                    hsla(210, 38%, 8%, 0.5) 50%,
                    hsla(210, 38%, 8%, 0.6) 60%,
                    hsla(210, 38%, 8%, 0.7) 70%
                );
            }
        }
        img {
            position: relative;
            max-width: min(90vw, 460px);
            max-height: min(60vh, 420px);
        }
    }
    .card {
        height: 100%;
    }
    .about {
        position: absolute;
        z-index: 2;
        width: 100%;
        min-height: 50%;
        bottom: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: $background3;
    }
    .name {
        padding-left: 10px;
        font-size: 1.2rem;
        color: #ddd;
    }
    .line {
        height: 2px;
        margin: 0.5rem 0 0.2rem;
        padding-left: 10px;
        background-color: $lighted;
    }
    .techStack {
        padding-left: 10px;
        color: #93c0df;
    }
    .description {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 10px;
    }
    .link {
        width: 120px;
        align-self: center;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            margin: 0 auto;
        }
        svg {
            width: 20px;
            height: 20px;
            fill: $lighted;
            stroke: $lighted;
        }
        &:first-of-type {
            margin-top: auto;
        }
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 95%;
        .btn {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
