<div
    [@container]="isClosing"
    class="container"
>
    <button
        class="btn btn--close"
        (click)="close()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-x'"></use>
        </svg>
    </button>
    <button
        class="btn btn--left"
        (click)="previous()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-left'"></use>
        </svg>
    </button>
    <button
        class="btn btn--right"
        (click)="next()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-right'"></use>
        </svg>
    </button>
    <div
        @top
        class="background background--top"
    ></div>
    <div
        @left
        class="background background--left"
    ></div>
    <img
        @image
        [src]="project.thumbnailUrl"
        alt="Project thumbnail"
    >
    <div
        @about
        class="about"
    >
        <p class="name">{{project.name |translate}}</p>
        <div class="line"></div>
        <p class="techStack">{{project.techStach|translate}}</p>
        <p class="description">{{project.description|translate}}</p>
        <a
            [href]="project.liveLink"
            class="link"
            target="_blank"
        >
            live
        </a>
    </div>
</div>
