<div
    [@container]="isClosing"
    class="container"
>
    <button
        class="btn btn--close"
        (click)="close()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-x'"></use>
        </svg>
    </button>
    <button
        class="btn btn--left"
        (click)="previous()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-left'"></use>
        </svg>
    </button>
    <button
        class="btn btn--right"
        (click)="next()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-right'"></use>
        </svg>
    </button>
    <div class="img">
        <div
            [@top]="cardState"
            class="background background--top"
        ></div>
        <div
            [@left]="cardState"
            class="background background--left"
        ></div>
        <img
            [@image]="cardState"
            [src]="currentProject?.thumbnailUrl|link"
            alt="Project thumbnail"
        >
    </div>
    <div
        [@about]="cardState"
        class="about"
    >
        <p class="name">{{currentProject?.name |translate}}</p>
        <div class="line"></div>
        <p class="techStack">{{currentProject?.techStach|translate}}</p>
        <p class="description">
            {{currentProject?.description|translate}}
        </p>
        <a
            *ngIf="currentProject?.isActive"
            [href]="currentProject?.liveLink"
            class="link"
            target="_blank"
        >
            <svg>
                <use [attr.xlink:href]="'assets/icons.svg#icon-globe'"></use>
            </svg>
            <span>{{'project.live'| translate}}</span>
        </a>
        <a
            [href]="currentProject?.codeLink"
            class="link"
            target="_blank"
        >
            <svg>
                <use [attr.xlink:href]="'assets/icons.svg#icon-github'"></use>
            </svg>
            <span>{{'project.code'| translate}}</span>
        </a>
    </div>
</div>
