<div
    [@container]="isClosing"
    class="container"
>
    <button
        class="btn btn--close"
        (click)="close()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-x'"></use>
        </svg>
    </button>
    <button
        class="btn btn--left"
        (click)="previous()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-left'"></use>
        </svg>
    </button>
    <button
        class="btn btn--right"
        (click)="next()"
    >
        <svg>
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrow-right'"></use>
        </svg>
    </button>
    <div
        [@top]="cardState"
        class="background background--top"
    ></div>
    <div
        [@left]="cardState"
        class="background background--left"
    ></div>
    <img
        [@image]="cardState"
        [src]="currentProject?.thumbnailUrl"
        alt="Project thumbnail"
    >
    <div
        [@about]="cardState"
        class="about"
    >
        <p class="name">{{currentProject?.name |translate}}</p>
        <div class="line"></div>
        <p class="techStack">{{currentProject?.techStach|translate}}</p>
        <p class="description">
            {{currentProject?.description|translate}}
        </p>
        <a
            [href]="currentProject?.liveLink"
            class="link"
            target="_blank"
        >
            live
        </a>
    </div>
</div>
