@import "src/assets/colors.scss";
:host {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container {
    position: relative;
    width: 98%;
    min-height: 80%;
    padding: 0 1rem;
    border-left: 3px solid $lighted;
    background-color: $background1;
}
.section {
    margin-bottom: 2rem;
}
.cardBlock {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 20px;
    user-select: none;
}
.cardsContainer {
    overflow: auto;
    scrollbar-width: none;
    margin: 15px 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.btn {
    opacity: 1;
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
    &--left {
        left: 0%;
        transform: translate(-5px, -50%);
    }
    &--right {
        right: 0%;
        transform: translate(5px, -50%);
    }
    &--hidden {
        opacity: 0;
        pointer-events: none;
        cursor: auto;
    }
    svg {
        width: 20px;
        height: 20px;
        fill: $lighted;
    }
}
.icon {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
    transform-origin: bottom center;
    width: 20px;
    height: 20px;
    fill: $muted;
    animation: Rolling 0.8s ease-in-out alternate infinite;
}
.card {
    position: relative;
    flex-shrink: 0;
    margin: 0 3rem;
    img {
        max-width: 400px;
        max-height: 400px;
    }
    &_shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        background-image: linear-gradient(40deg, hsla(210, 38%, 8%, 0.9) 30%, hsla(0, 0%, 100%, 0.8) 100%);
        .description {
            position: relative;
            transform: translateX(-55px);
            width: 240px;
        }
        .name {
            padding: 0 0 0 10px;
            font-size: 1.2rem;
            color: #ddd;
        }
        .line {
            height: 2px;
            margin: 0.5rem 0 0.2rem;
            background-color: $lighted;
        }
        .techStack {
            padding: 0 0 0 10px;
            color: #93c0df;
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 80%;
        padding-left: 3rem;
    }
    .cardsContainer {
        margin: 15px 30px;
    }
}

@keyframes Rolling {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
