// main colors
$navBackground: #222222;
$background1: #0d151d;
$background2: #1c2e3f;
$muted: #5b7486;
$mutedHeader: #6d8a9e;
$lighted: #8de6db;
$text: #dddddd;


$mutedProjectInfo: #84a7be;
$black: #000000;

//about colors
$green: #4ec9b0;
$blueDark: #569cd6;
$blueLight: #9cdcfe ;
$red: #ce9178;
$yellowLight: #dcdcaa;
$yellowDark: #ffd700;
$purple: #c586c0