<nav>
    <button
        class="menu"
        [ngClass]="{'menu--open': isOpen}"
        (click)="toggleList()"
    >
        <div class="line line--top"></div>
        <div class="line line--bot"></div>
    </button>
    <a
        href="#"
        class="link"
    >
        {{'Dao'| tag}}
    </a>
    <div
        class="list"
        [ngClass]="{'list--open': isOpen}"
    >
        <a
            href="#about"
            class="link"
            (click)="hideList()"
        >
            {{'navigation.about' |translate |tag }}
        </a>
        <a
            href="#portfolio"
            class="link"
            (click)="hideList()"
        >
            {{'navigation.portfolio'|translate |tag}}
        </a>
        <a
            href="#contact"
            class="link"
            (click)="hideList()"
        >
            {{'navigation.contact'|translate |tag}}
        </a>
        <div class="lang">
            <p class="muted">{{'navigation.language'|translate |tag}}</p>
            <button
                class="btn lighted"
                type="button"
                [ngClass]="{
                    'lighted': 'en' === lang.getCurrentLang(),
                    'muted': 'en' !== lang.getCurrentLang()
                }"
                (click)="changeLanguage('en')"
            >
                {{'en' |tag}}
            </button>
            <button
                class="btn lighted"
                type="button"
                [ngClass]="{
                    'lighted': 'pl' === lang.getCurrentLang(),
                    'muted': 'pl' !== lang.getCurrentLang()
                }"
                (click)="changeLanguage('pl')"
            >
                {{'pl'| tag}}
            </button>
        </div>
    </div>
</nav>
