@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import "src/assets/colors.scss";
:root {
    // scroll-behavior: smooth;
    font-size: 18px;
    font-weight: 400;
    // scrollbar-width: thin;
    // scrollbar-color: $background1 $background2;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $background2 $background1;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}
body {
    padding: 0 calc((100vw - 1920px) / 2);
    background-color: $black;
    font-family: "Ubuntu mono", monospace;
    color: $text;
}
.link {
    color: $lighted;
    text-decoration: none;
}
.section {
    position: relative;
    margin-top: 45px;
    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-11px, -50%);
        right: 100%;
        height: 17px;
        aspect-ratio: 1/1;
        border: 3px solid $lighted;
        border-radius: 50%;
        content: "";
    }
}
.muted {
    color: $mutedHeader;
    &--header {
        font-weight: 700;
    }
}
.lighted {
    color: $lighted;
}
.green {
    color: $green;
}
.blueDark {
    color: $blueDark;
}
.blueLight {
    color: $blueLight;
}
.red {
    color: $red;
}
.yellowLight {
    color: $yellowLight;
}
.yellowDark {
    color: $yellowDark;
}
.purple {
    color: $purple;
}
.ml {
    margin-left: 1.2rem;
}
.ml-1 {
    margin-left: 1.8rem;
}
.ml-2 {
    margin-left: 2.2rem;
}
.ml-3 {
    margin-left: 3.6rem;
}
.small {
    font-size: 0.9rem;
}
@media screen and (min-width: 992px) {
    .section {
        margin-top: 58px;
        &::before {
            transform: translate(-47px, -50%);
        }
    }
    .codeLine {
        position: relative;
        &::before {
            position: absolute;
            right: calc(80vw - 18px);
            display: block;
            content: attr(line);
            color: $muted;
            text-align: right;
        }
        &:hover {
            &::after {
                position: absolute;
                display: block;
                content: "";
                top: 0;
                right: -18px;
                width: 100vw;
                height: 100%;
                background-color: rgba(107, 107, 107, 0.466);
            }
        }
    }
}
