@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import "src/assets/colors.scss";
:root {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}
body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    padding: 0 calc((100vw - 1920px) / 2);
    background-color: $black;
    font-family: "Niramit", sans-serif;
    color: $text;
}
.link {
    color: $lighted;
    text-decoration: none;
}
.section {
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        transform: translate(-11px, -50%);
        right: 100%;
        height: 17px;
        aspect-ratio: 1/1;
        border: 3px solid $lighted;
        border-radius: 50%;
        content: "";
    }
}
.muted {
    color: $mutedHeader;
    &--header {
        font-weight: 700;
    }
}
.lighted {
    color: $lighted;
}
.green {
    color: $green;
}
.blueDark {
    color: $blueDark;
}
.blueLight {
    color: $blueLight;
}
.red {
    color: $red;
}
.yellowLight {
    color: $yellowLight;
}
.yellowDark {
    color: $yellowDark;
}
.purple {
    color: $purple;
}
@media screen and (min-width: 992px) {
    .section {
        position: relative;
        &::before {
            transform: translate(-47px, -50%);
        }
    }
}
