<div class="container">
    <h4 class="section muted muted--header">{{'headers.home'| translate | tag}}</h4>
    <h1>
        {{'home.welcome'|translate}}
        <span class="lighted">{{'home.name'| translate}}</span>
    </h1>
    <p>{{'home.subtitle' | translate}}</p>
    <p class="muted">{{'home.introduce' |translate}}</p>
    <a
        href="#about"
        class="scroll"
    >
        <svg class="arrow-1">
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrows-down'"></use>
        </svg>
        <svg class="arrow-2">
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrows-down'"></use>
        </svg>
    </a>
</div>
