<div class="container">
    <h4 class="section muted muted--header">{{'Home' | tag}}</h4>
    <h1>
        Hello, my name's
        <span class="lighted">Demid Greshnikov</span>
    </h1>
    <p>I'm fronted developer</p>
    <p class="muted">Let me introduce myself</p>
    <a
        href="#about"
        class="scroll"
    >
        <svg class="arrow-1">
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrows-down'"></use>
        </svg>
        <svg class="arrow-2">
            <use [attr.xlink:href]="'assets/icons.svg#icon-arrows-down'"></use>
        </svg>
    </a>
</div>
